body{
  font-family: 'Poppins', sans-serif;
  color: #2b2b2b;
}
.ol-element {
    padding-left: 8rem;
}

.ol-item {
    font-size: larger;
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px lightblue;
}



.display-list{
    margin: 0 auto;
    width: 75%;    
}

.tourism-img{
    margin-left: 32vw;
    width: 35vw;
   
}

.tourism-p{
    margin: 0 auto;
    width: 50%;
    
}

.section-scroll{
    scroll-margin-top:  80px;
}